*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(245, 245, 245);
  font-family: sans-serif;
  overflow: hidden;
  background-image: url("/images/fri_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -230px;
  height: 100vh;
}

a{
  text-decoration: none;
  color: #111;
}

li{
  list-style: none;
}

.container{
  width: 90%;
  margin: auto;
  padding: 0 20px;
}

.header{
  padding-top: 30px;
  margin-top: 20px;
  border-top: 5px solid rgb(68, 146, 247);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(235, 231, 231);
  opacity: 0.7;
}

.logo img{
  transition: transform 3s ease;
}

.logo img:hover{
  transform: rotate(7200deg);
}

.nav-links{
  display: flex;
}

.nav-links a{
  padding: 15px 40px;
  transition: background-color 0.5s ease;
}

.nav-links a:hover{
  background-color: #999;
  color: #f1f1f1;
}

.active{
  font-weight: bold;
  background-color: #999;
}

@media screen and (max-width: 768px) {
  body{
    background-image: none;

  }

  .container{
    width: 100%;
    padding: 0;
  }

  .logo img{
    margin-bottom: 20px;
  }

  .header{
    margin-top: 0;
    flex-direction: column;
    padding: 30px 0;
  }

  .section-2{
    background-image: url("/images/mobi.jpg");
    background-position: -100px -400px;
    height: 100vh;
    width: 100%;
  }

}
